body {
    background-color: black;
    color: white;
    font-family: arial;
    text-align: center;
    
}

main {
    width: 86%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

section {
    flex: auto;
}