body {
    background-color: black;
    color: white;
    font-family: arial;
    text-align: center;
    
}

main {
    width: 86%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

section {
    flex: auto;
}

img {
    width: 100%;
}

section p {
    font-size: 2em;
    font-weight: 500;
}
